*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #505763;
    font-family: sans-serif;
}
nav div{
    color: yellow;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 50px;
}
input{
    display: block;
    width: 250px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px 0px;
    padding-left: 5px;
    border-radius: 5px;
    outline-color: yellow;
    border: solid 3px yellow;
}
#btn{
    display: inline-block;
    margin-left: 75px;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    outline: none;
    background-color: yellow;
    color: black;
    border-radius: 10px;
}
#btn:active{
    transform: translateY(5px);
}
main{
    display: flexbox;
    margin-left: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}
#content{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    overflow-y: auto;
    white-space: normal;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 15px;
    background-color: yellow;
    color: black;
}
#content h3{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: yellow;
    text-align: center;
}
#content div{
    background-color: yellow;
    text-align: center;
}
#icon{
    position: absolute;
    top: 5px;
    right: 3px;
    color: red;
    background-color: yellow;
    cursor: pointer;
}