body {
  font-family: "Source Code Pro";
}
.success,
.error {
  color: #fff;
  padding: 5px;
  margin: 5px 0 15px 0;
}
.success {
  background: #008000;
}
.error {
  background: #ff0000;
}
input[type="submit"] {
  font-family: "Source Code Pro";
  font-size: 16px;
}
